<div class="row row-cols-1 row-cols-md-5 g-4" id="search-result">
  {% for app in site.data.apps%}
  <div class="col">
    <div class="card h-100">
      <img src="/BrewShop/assets/images/{{ app.titleid }}.png" alt="" height="32px" width="32px">
      <div class="card-body">
        <h5 class="card-title truncate">{{ app.name }}</h5>
        <p class="card-text truncate">{{ app.description }}</p>
        <p>
          <small>Last Updated: {{ app.update_time }}</small>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Version: {{ app.version }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>