{% if page.console == "3ds" %}
  {% assign apps = site.data.apps | where:"console", "3ds" %}
{% elsif page.console == "switch" %}
  {% assign apps = site.data.apps | where:"console", "switch" %}
{% elsif page.console == "nds" %}
  {% assign apps = site.data.apps | where:"console", "nds" %}
{% else %}
  {% assign apps = site.data.apps %}
{% endif %}

<div class="row row-cols-1 row-cols-md-5 g-4 apps" id="search-result">
  {% for app in apps%}
  <div class="col apps" id="{{ id }}">
    <div class="card h-100">
      <img src="{{ site.baseurl }}/assets/images/{{ app.titleid }}.png" alt="" height="32px" width="32px">
      <div class="card-body">
        <h5 class="card-title truncate">{{ app.name }}</h5>
        <p class="card-text truncate">{{ app.description }}</p>
        <p>
          <small>Last Updated: {{ app.update_time }}</small>
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Version: {{ app.version }}</small>
        <small class="text-muted">Console: {{ app.console }}</small>
      </div>
    </div>
  </div>
  {% endfor %}
</div>