<button id="hamburger-menu">
    <div id="line-1"></div>
    <div id="line-2"></div>
    <div id="line-3"></div>
</button>
<div id="sidebar">
    <div id="logo">
        <a href="{{ site.baseurl }}/">
            <h1 id="logo-text">BrewShop</h1>
        </a>
    </div>
    <div class="sidebar-heading">
        <h3>Console</h3>
        <ul class="sidebar-item">
            <li>
                <a href="">3DS</a> 
            </li>
            <li>
                Switch
            </li>
            <li>
                DS(i)
            </li>
        </ul>
    </div>
    <div class="sidebar-heading">
        <h3>Categories</h3>
        <ul class="sidebar-item">
            <li>
                Games
            </li>
            <li>
                Utilities
            </li>
            <li>
                Firmware
            </li>
            <li>
                Themes
            </li>
            <li>
                Rom Hacks
            </li>
        </ul>
    </div>
</div>