.apps-container {
    margin-top: 5vh;
}

.apps {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-blend-mode: darken;
}

.card {
    color: var(--darktext);
    width: 300px;
    height: 280px;
    padding: 5px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
    align-content: normal;
    margin: 10px;
    border-radius: 10px;
}

.card-image {
    position: relative;
    left: 36%
}

.card-title, .card-text, .card-body > p {
    margin: 0;
}

.card-body {
   height: 14vh;
}

.card-footer {
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

// .card.title {
//     margin-bottom: 20px;
//     border-radius: 10px;
//     transition: 0.3s;
//     transition: transform .2s;
// }

// .card:hover {
//     box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
// }

.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
}

.hide {
    display: none;
}