.banner {
    justify-content: center;
    width: 80vw;
    height: 20vh;
    margin-left: 2vw;
    margin-top: 5vh;
    border-radius: 15px;
    background: linear-gradient(109.6deg, rgb(43, 1, 91) 13.4%, rgb(122, 2, 54) 100.2%);
}

#banner-title, #banner-text {
    margin-left: 1vw;
}

#banner-title {
    padding-top: 2vh;
}