#navbar {
    width: 85vw;
    height: 10vh;
    position: absolute;
    left: 15vw;
    background-color: transparent;
}

#searchbar {
    display: flex;
    justify-content: center;
    margin-top: 2.5vh;
}