#navbar {
    width: 85vw;
    height: 10vh;
    position: absolute;
    left: 15vw;
    background-color: transparent;
}

#searchbar {
    display: flex;
    margin-left: 60vw;
    margin-top: 2.5vh;
}

#search {
    border-radius: 6px;
}