#hamburger-menu {
    display: none;
}

#sidebar {
    width: 15vw;
    height: 100vh;
    background-color: transparent;
    color: var(--darktext);
    display: inline-block;
    position: fixed;
    border-right: 1px solid white;
}

#logo-text {
    margin: 0;
    text-align: center;
}

.sidebar-heading > h3 {
    margin-left: 10px;
    margin-bottom: 5px;
}

.sidebar-item {
    list-style: none;
    margin-top: 5px;
}

.sidebar-button {
    padding: 0px;
    color: white;
    background: transparent;
    border: none;
}