--- 
--- 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "navbar";
@import "sidebar";
@import "apps";
@import "mobile";
@import "addButton";
@import "banner";
@import "theme";

:root {
  color-scheme: dark light;
  --darkbg: #2C3333;
  --lightbg: white;
  --darktext: white;
  --lighttext: black;
}

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--darktext);
}

body {
  background: var(--darkbg);
  overflow-x: clip;
}

main {
  width: 85vw;
  height: 90vh;
  margin-left: 15vw;
  margin-top: 10vh;
  display: inline-block;
}

.light {
  background: var(--lightbg);
  h1, h2, h3, h4, h5, p, small, a {
    color: black;
  }
  #logo {
    color: black;
  }
}

a {
  color: white;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #36454f #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #36454f;
  border-radius: 10px;
  border: 3px solid #ffffff;
}