--- 
--- 
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "navbar";
@import "sidebar";
@import "apps";
@import "mobile";
@import "addButton";
@import "banner";

:root {
  color-scheme: dark light;
  --darkbg: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(26,26,46,1) 35%);
  // --darkbg: #2C3333;
  --lightbg: linear-gradient(to right, #d7e1ec, #ffffff);
  --darktext: white;
  --lighttext: black;
}

* {
  font-family: 'Poppins', sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--darktext);
}

body {
  background: var(--darkbg);
  background-attachment: fixed;
  overflow-x: clip;
}

main {
  width: 85vw;
  margin-left: 10vw;
  margin-top: 10vh;
  display: inline-block;
  transition: all 500ms ease;
}

.light {
  background: var(--lightbg);
  h1, h2, h3, h4, h5, p, small, a {
    color: black;
  }
  #logo {
    color: black;
  }
  .banner {
    background-image: linear-gradient(to right, #63a4ff, #83eaf1);
  }
}

a {
  color: white;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #36454f #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #36454f;
  border-radius: 10px;
  border: 3px solid #ffffff;
}